!!! 5
%html
  %head
    %title Canvas Crawler
    %meta{ charset: 'utf-8' }
    %script{ src: 'js/jquery-2.1.0.min.js' }
    %script{ src: 'js/main.js' }
    %link{ type: 'text/css', rel: 'stylesheet', href: 'css/main.css' }

  %body
    %h1 Canvas Crawler
    %canvas
